asgiref
brotli
certifi
cffi
charset-normalizer
cssselect2
distro
Django
djangorestframework
docutils
ephem
filetype
fonttools
gunicorn
idna
pillow
pkgconfig
platformdirs
pycparser
pydyf
Pygments
pyphen
pyswisseph
reportlab
requests
six
sqlparse
tinycss2
tinyhtml5
tomlkit
tzdata
urllib3
weasyprint
webencodings
zopfli
dj-database-url
psycopg2-binary
pytz
whitenoise
